/* VARIABLES */

:root {
  --font-family-main: 'Roboto',
  sans-serif;
  --font-family-secondary: 'Raleway', sans-serif;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;

  --primary-light-color: #fff;
  --primary-dark-color: #212121;
  --secondary-dark-color: #757575;
  --background-light-color:#F5F4FA;
  --background-dark-color: #2F303A;
  --accent-light-color: #2196f3;
  --accent-dark-color: #000;
}

/* GLOBAL INHERITANCE */

body {
  font-family: var(--font-family-main);
  font-weight: var(--font-regular);
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;

  background-color: var(--primary-light-color);
  color: var(--secondary-dark-color);
}

/* RESETTERS */

.unmarked-list {
  list-style: none;
}

.clean-link {
  text-decoration: none;
  font-style: normal;

  color: inherit;
}

/* GLOBAL */

.interactive-link:hover,
.interactive-link:focus {
  color: var(--accent-light-color);
}

.logo {
  font-weight: var(--font-bold);
  font-size: 26px;
  line-height: 1.17;

  color: var(--accent-dark-color);
}

.text-accent-light-color {
  color: var(--accent-light-color);
}
.text-accent-light{
  color: var(--primary-light-color);
}

.title{
  font-weight: var(--font-bold);
  font-size: 36px;
  line-height: 1.17;

  text-align: center;

  color: var(--primary-dark-color);
}

/* HEADER */

.header{
  font-weight: var(--font-medium);
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-pages-list{
  color: var(--primary-dark-color);
}

/* FOOTER */

.footer{
  background-color: var(--background-dark-color);
}

.footer-address{
  line-height: 1.71;
}

.address-mail, .address-phone{
  color: #FFFFFF99;
}

/* MAIN PAGE STYLES */

.section-hero{
  background-color: var(--background-dark-color);
  color: var(--primary-light-color);
}

.hero-title
{
  font-weight: var(--font-black);
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;
}

.section-advantages .subtitle {
  font-weight: var(--font-bold);
  font-size: 14px;
  line-height: 1.17;
  
  text-transform: uppercase;

  color: var(--primary-dark-color);
}

.section-team{
  font-size: 16px;
  line-height: 1.17;

  text-align: center;

  background-color: var(--background-light-color);
}

.section-team .subtitle {
  font-weight: var(--font-medium);
  font-size: inherit;

  color: var(--primary-dark-color);
}